.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@keyframes flyPlane {
  50% {
    transform: translate(150%, -200%) rotate(-120deg) scale(0.8);
    transform-origin: bottom left;
  }
  100% {
    transform: translate(0%, 0%) rotate(-360deg);
    transform-origin: top left;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  color: #303030;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

body.modal-open {
  overflow: hidden;
}

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;
}

@media screen and (max-width: 479px) {
  .container {
    min-width: 330px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding: 84px 0;
  margin: 0 auto;
  min-width: 330px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 130px 0;
  }
}

.pretitle {
  display: flex;
  align-items: center;
}

.pretitle::before {
  content: '';
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: currentColor;
}

.section__pretitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}

.section__pretitle--light {
  color: rgba(157, 164, 189, 0.6);
}

.section__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 44px;
  width: 418px;
}

.section__title--light {
  color: #ffffff;
}

@media screen and (max-width: 479px) {
  .section__title {
    width: 265px;
    font-size: 28px;
  }
}

.section__aftertitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  color: #555555;
  margin-bottom: 20px;
}

.section__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.mob-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 73vw;
  height: 100vh;
  z-index: 3;
  overflow-y: scroll;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .mob-menu-container {
    min-height: 100%;
    padding-bottom: 10vh;
    min-width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu-container {
    display: none;
  }
}

.mob-menu-container.is-open {
  background-color: #ffffff;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.mob-menu-container .mob-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  padding-left: 50px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
  max-width: 347px;
}

.menu-toggle-open,
.menu-toggle-close {
  margin: 0;
  padding: 0;
  border: transparent;
  background-color: transparent;
  fill: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle-open:hover, .menu-toggle-open:focus,
.menu-toggle-close:hover,
.menu-toggle-close:focus {
  transform: rotate(-360deg);
  fill: #ff6c00;
}

@media screen and (min-width: 768px) {
  .menu-toggle-open,
  .menu-toggle-close {
    display: none;
  }
}

.menu-toggle-close {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
  fill: #303030;
}

.mob-menu-top,
.mob-menu-center,
.mob-menu-bottom {
  width: 100%;
}

.mob-menu-top:not(:last-child),
.mob-menu-center:not(:last-child),
.mob-menu-bottom:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-transform: none;
  color: #303030;
}

.mob-menu__link:hover, .mob-menu__link:focus, .mob-menu__link--current {
  color: #ff6c00;
}

.mob-menu__link--tel {
  display: inline-block;
  margin-bottom: 24px;
}

.mob-menu-bottom {
  display: flex;
  width: 100%;
  max-width: 194px;
}

.mob-menu-socials {
  margin-left: auto;
}

.mob-menu-socials__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-socials__link {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.mob-menu-socials__link::before {
  content: '';
  width: 100%;
  max-width: 60px;
  height: 1px;
  background-color: #303030;
  position: absolute;
  top: 50%;
  left: -50px;
  opacity: 0;
  visibility: hidden;
  transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-socials__link:hover::before, .mob-menu-socials__link:focus::before {
  left: -100px;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 379px) {
  .mob-menu-socials__link:hover::before, .mob-menu-socials__link:focus::before {
    display: none;
  }
}

.mob-menu__button {
  width: 100%;
  min-width: 125px;
  max-width: 194px;
}

.button {
  display: block;
  width: 160px;
  height: 40px;
  padding: 12px 0;
  margin-right: auto;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: #303030;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--light {
  color: #ffffff;
}

.button:hover, .button:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.section__button {
  margin-left: auto;
  margin-right: auto;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #303030;
}

.social-list__link:hover, .social-list__link:focus {
  color: #ff6c00;
}

.social-list__icon {
  fill: currentColor;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 32px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nav {
    width: 100%;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    padding-left: 49px;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    padding-left: 0;
    padding-right: 7px;
  }
}

.nav__logo {
  display: block;
  width: 69px;
  height: 56px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .nav__logo {
    margin-right: 61px;
    width: 65px;
    fill: #303030;
  }
}

@media screen and (min-width: 1280px) {
  .nav__logo {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .nav__logo-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__logo-mob-icon {
    display: none;
  }
}

.nav-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    align-items: baseline;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .nav-menu {
    align-items: center;
  }
}

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 24px;
}

@media screen and (min-width: 1280px) {
  .nav-list__item:not(:last-child) {
    margin-right: 40px;
  }
}

.nav-list__link,
.nav-contacts__link {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-transform: none;
  color: #ffffff;
}

.nav-list__link:hover, .nav-list__link:focus,
.nav-contacts__link:hover,
.nav-contacts__link:focus {
  color: #ff6c00;
}

.nav-list__link--current,
.nav-contacts__link--current {
  color: #ff6c00;
}

.nav-contacts {
  position: relative;
  text-align: center;
  margin-left: auto;
}

@media screen and (min-width: 1280px) {
  .nav-contacts {
    display: flex;
    align-items: center;
  }
}

.nav-contacts__link {
  position: absolute;
  width: 160px;
  left: 0;
  top: 60px;
}

@media screen and (min-width: 1280px) {
  .nav-contacts__link {
    position: static;
    margin-right: 40px;
  }
}

.nav-contacts__button {
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .nav-contacts__button {
    margin-top: 8px;
  }
}

.hero__container {
  display: flex;
  padding: 0;
}

.hero-socials {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-socials {
    width: 120px;
    display: flex;
    align-items: flex-end;
    padding: 0 85px 40px 74px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-socials {
    width: 93px;
    padding: 0 55px 40px 23px;
  }
}

.hero-socials__list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translate(-15px);
  transform-origin: top left;
}

.hero-socials__item:first-child {
  margin-right: 40px;
}

.hero-socials__item.pretitle::before {
  margin-right: 40px;
}

.hero-socials__link {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-transform: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-socials__link:hover, .hero-socials__link:focus {
  color: #ff6c00;
}

.hero-content {
  min-height: 580px;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bgs/slider-3-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding: 208px 0 183px 31px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bgs/slider-3-mob@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bgs/slider-3-mob@3x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-content {
    flex-grow: 0;
    width: 570px;
    padding: 280px 157px 234px 64px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bgs/slider-3-tab@1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bgs/slider-3-tab@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bgs/slider-3-tab@3x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .hero-content {
    width: 1077px;
    padding: 272px 456px 206px 96px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bgs/slider-3-desk@1x.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bgs/slider-3-desk@2x.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bgs/slider-3-desk@3x.jpg);
  }
}

.hero__pretitle {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
  animation-delay: 300ms;
}

@media screen and (max-width: 479px) {
  .hero__title {
    font-size: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero__aftertitle {
  max-width: 306px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
  animation-delay: 600ms;
}

@media screen and (min-width: 768px) {
  .hero__aftertitle {
    max-width: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__aftertitle {
    max-width: 400px;
    font-size: 18px;
    line-height: 1.67;
  }
}

.about .section__title {
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 20px;
}

@media screen and (max-width: 479px) {
  .about .section__title {
    font-size: 24px;
  }
}

.section.prices {
  background-color: #111319;
  background-image: url(../images/bgs/prices-mob@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section.prices {
    background-image: url(../images/bgs/prices-mob@2x.png);
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .section.prices {
    background-image: url(../images/bgs/prices-mob@3x.png);
  }
}

.price-list {
  padding: 30px;
  margin-bottom: 50px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  line-height: 2.14;
  color: #9da4bd;
}

.price-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.price-list__item::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.price-list__service {
  order: -1;
}

.reasons .section__title {
  margin-bottom: 20px;
}

.reasons .section__aftertitle {
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 44px;
}

.reasons-container {
  display: flex;
  justify-content: space-between;
}

.reasons-right {
  padding-top: 35px;
}

.reasons-list__item {
  width: 193px;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f7f7;
}

.reasons-list__item:first-child {
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .reasons-list__item:first-child {
    margin-bottom: 10vw;
  }
}

@media screen and (max-width: 479px) {
  .reasons-list__item {
    width: 40vw;
    min-width: 125px;
  }
}

.reasons-list__number {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.reasons-list__number::after {
  content: '+';
  position: absolute;
  bottom: 28px;
  right: -2px;
  transform: translate(100%);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff6c00;
}

.reasons-list__text {
  width: 122px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-transform: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reasons-list__text--long {
  width: 130px;
}

@media screen and (max-width: 479px) {
  .reasons-list__text--long {
    width: 122px;
  }
}

.section.team {
  background-color: #f7f7f7;
}

.team-list__item:not(:last-child) {
  margin-bottom: 64px;
}

.team-thumb {
  margin-bottom: 30px;
}

.team-list__card {
  text-align: center;
}

.team-list__name {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list__position {
  line-height: 1.36;
  color: #ff6c00;
  margin-bottom: 30px;
}

.gallery .section__pretitle {
  margin-bottom: 44px;
}

.picture-thumb:not(:last-child) {
  margin-bottom: 30px;
}

.section.online {
  background-color: #191c26;
}

.online .section__title {
  text-align: center;
}

.online-form__input {
  display: block;
  width: 418px;
  background-color: transparent;
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding: 8px 0px;
  margin-bottom: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-form__input--textarea {
  margin-bottom: 44px;
  height: 60px;
  resize: none;
}

@media screen and (max-width: 479px) {
  .online-form__input {
    min-width: 265px;
    width: 100%;
  }
}

.online-form__input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-form__label-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-form__label:focus-within > .online-form__input {
  color: #ffffff;
  border-color: #ffffff;
}

.online-form__label:focus-within > .online-form__input::placeholder {
  color: #ffffff;
}

.online-form__label:focus-within .online-form__label-text {
  color: #ffffff;
}

.section.contacts {
  background-color: #191c26;
  background-image: url(../images/bgs/contacts-mob@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section.contacts {
    background-image: url(../images/bgs/contacts-mob@2x.webp);
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .section.contacts {
    background-image: url(../images/bgs/contacts-mob@3x.webp);
  }
}

.address {
  margin-bottom: 44px;
}

.address-list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.address-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.address-list__icon {
  margin-right: 16px;
}

.contacts .section__pretitle {
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts__schedule,
.address-list__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover,
.address-list__link:focus {
  color: #ffffff;
}

.footer {
  padding: 44px 0;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.footer-socials::before {
  content: '';
  height: 1px;
  width: 60px;
  background-color: currentColor;
}

.footer-socials__item {
  margin-left: 40px;
}

.footer-socials__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-transform: none;
  color: #303030;
}

.footer__copyright {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-transform: none;
  color: #9da4bd;
}
/*# sourceMappingURL=main.css.map */