.about .container {
  @include minMedia($tab) {
    @include centeredFlex($align: flex-start, $just: space-between);
  }

  @include minMedia($desk) {
    justify-content: flex-start;
  }
}

.about .section__title {
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 20px;

  @include maxMedia($preMob) {
    font-size: 24px;
  }

  @include minMedia($tab) {
    width: 330px;
  }

  @include minMedia($desk) {
    font-size: 42px;
    width: 483px;
  }
}

.thumb-about {
  display: none;

  @include minMedia($tab) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 507px;
  }

  @include minMedia($desk) {
    width: 570px;
    height: auto;
    flex-direction: row;
    margin-right: 64px;
  }
}

.wrapper-about {
  @include minMedia($tab) {
    width: 330px;
  }

  @include minMedia($desk) {
    width: 500px;
  }
}

.about__img {
  @include minMedia($desk) {
    width: 270px;
  }
}
