.footer {
  padding: 44px 0;
  background-color: $light-bg-color;

  @include minMedia($desk) {
    padding: 55px 0;
  }
}

.footer .container {
  @include minMedia($tab) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.footer-socials {
  @include centeredFlex($just: flex-end);
  margin-bottom: 20px;
  @include minMedia($tab) {
    margin-bottom: 0;
  }
}

.footer-socials::before {
  content: '';
  height: 1px;
  width: 60px;
  background-color: currentColor;
}

.footer-socials__item {
  margin-left: 40px;
}

.footer-socials__link {
  @include textPretitle;
  letter-spacing: 0.2em;
  text-transform: none;
  color: $primary-color;
}

.footer__copyright {
  @include textPretitle;
  letter-spacing: 0.2em;
  text-transform: none;
  color: $light-text-color;
}
