.online-contacts-wrapper {
  background-color: $dark-online-bg-color;

  @include minMedia($desk) {
    display: flex;
  }
}

.section.online {
  background-color: $dark-online-bg-color;
  @include minMedia($desk) {
    width: 50vw;
    flex-grow: 1;
  }
}

.online .container {
  @include minMedia($desk) {
    width: 615px;
    margin-right: 0;
  }
}

.online .section__title {
  text-align: center;

  @include minMedia($tab) {
    text-align: left;
  }
}

.form-wrapper {
  @include minMedia($tab) {
    @include centeredFlex($just: space-between);
  }

  @include minMedia($desk) {
    justify-content: flex-start;
  }
}

.online-form__input {
  display: block;
  width: 418px;
  background-color: transparent;
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding: 8px 0px;
  margin-bottom: 36px;
  @include textPretitle;
  color: $secondary-color;
  transition: border-color $main-effect;

  @include minMedia($tab) {
    width: 330px;
  }

  @include minMedia($desk) {
    width: 265px;
  }

  &--textarea {
    margin-bottom: 44px;
    height: 60px;
    resize: none;

    @include minMedia($tab) {
      width: 690px;
    }

    @include minMedia($tab) {
      width: 560px;
    }
  }

  @include maxMedia($preMob) {
    min-width: 265px;
    width: 100%;
  }

  &::placeholder {
    @include textPretitle;
    color: rgba(157, 164, 189, 0.4);
    transition: color $main-effect;
  }
}

.online-form__label-text {
  @include textPretitle;
  color: rgba(157, 164, 189, 0.4);
  transition: color $main-effect;
}

.online-form__label {
  @include minMedia($desk) {
    margin-right: 30px;
  }
}

.online-form__label:focus-within {
  & > .online-form__input {
    color: $secondary-color;
    border-color: $secondary-color;
  }
  & > .online-form__input::placeholder {
    color: $secondary-color;
  }

  & .online-form__label-text {
    color: $secondary-color;
  }
}

.online .button {
  margin-left: 0;
}
