.section.prices {
  background-color: #111319;
  background-image: url(../images/bgs/prices-mob@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //   padding: 208px 0 183px 31px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/bgs/prices-mob@2x.png);
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    background-image: url(../images/bgs/prices-mob@3x.png);
  }
}

.prices .pretitle {
  @include rangeMedia($tab, $preDesk) {
    text-transform: none;
  }
}

.price-list {
  padding: 30px;
  margin-bottom: 50px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  line-height: 2.14;
  color: $light-text-color;
}

.price-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: '';
    height: 1px;
    flex-grow: 1;
    border-bottom: 1px solid rgba(157, 164, 189, 0.12);
    margin-left: 6px;
    margin-right: 6px;
  }
}

.price-list__service {
  order: -1;
}
