.reasons .section__title {
  margin-bottom: 20px;
}

.reasons .section__aftertitle {
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 44px;

  @include minMedia($tab) {
    width: 500px;
  }
}

.reasons-container {
  display: flex;
  justify-content: space-between;

  @include minMedia($tab) {
    width: 450px;
    margin-left: auto;
  }
}

.reasons-right {
  padding-top: 35px;
}

.reasons-list__item {
  width: 193px;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  background-color: $light-bg-color;

  &:first-child {
    margin-bottom: 30px;

    @include maxMedia($preMob) {
      margin-bottom: 10vw;
    }
  }

  @include maxMedia($preMob) {
    width: 40vw;
    min-width: 125px;
  }

  @include minMedia($tab) {
    width: 210px;
  }
}

.reasons-list__number {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
  @include textTitle($ff: $open-sans, $lh: 1.36);
  &::after {
    content: '+';
    position: absolute;
    bottom: 28px;
    right: -2px;
    transform: translate(100%);
    @include textPretitle($fs: 16px);
    color: $accent-color;
  }
}

.reasons-list__text {
  width: 122px;
  @include textPretitle($ls: 0em);
  text-transform: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reasons-list__text--long {
  width: 130px;

  @include maxMedia($preMob) {
    width: 122px;
  }
}
