.section.team {
  background-color: $light-bg-color;
}

.team .section__title,
.team .section__pretitle {
  @include minMedia($tab) {
    margin-left: 119px;
  }
  @include minMedia($desk) {
    margin-left: 0;
  }
}

.team-list {
  @include minMedia($desk) {
    display: flex;
    justify-content: space-between;
    width: 1170px;
  }
}

.team-list__item {
  &:not(:last-child) {
    margin-bottom: 64px;

    @include minMedia($desk) {
      margin-bottom: 0;
    }
  }
}

.team .team-list__img {
  @include minMedia($tab) {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @include minMedia($desk) {
    width: 370px;
  }
}

.team-thumb {
  margin-bottom: 30px;
}

.team-list__card {
  text-align: center;
}

.team-list__name {
  @include textBody($fs: 18px, $lh: 1.39);
  margin-bottom: 8px;
}

.team-list__position {
  line-height: 1.36;
  color: $accent-color;
  margin-bottom: 30px;
}
