// Кнопка

.button {
  display: block;
  width: 160px;
  height: 40px;
  padding: 12px 0;
  margin-right: auto;

  background-color: transparent;
  border: 1px solid $accent-color;
  border-radius: 25px;
  outline: none;

  @include textButton;
  text-align: center;
  color: $primary-color;

  &--light {
    color: $secondary-color;
  }

  transition: background-color $main-effect, color $main-effect;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $secondary-color;
  }
}

.section__button {
  margin-left: auto;
  margin-right: auto;
}
