// Flex

@mixin centeredFlex($type: flex, $align: center, $just: center) {
  display: $type;
  align-items: $align;
  justify-content: $just;
}

// Media

@mixin minMedia($startBreakpoint) {
  @media screen and (min-width: $startBreakpoint) {
    @content;
  }
}

@mixin maxMedia($finishBreakpoint) {
  @media screen and (max-width: $finishBreakpoint) {
    @content;
  }
}

@mixin rangeMedia($startBreakpoint, $finishBreakpoint) {
  @media screen and (min-width: $startBreakpoint) and (max-width: $finishBreakpoint) {
    @content;
  }
}

// Text Fonts

@mixin textPretitle($ff: $open-sans, $fw: 600, $fs: 11px, $lh: 1.37, $ls: 0.1em) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  text-transform: uppercase;
}

@mixin textTitle($ff: $raleway, $fw: 700, $fs: 42px, $lh: 1.17, $ls: 0.05em) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin textAftertitle($ff: $open-sans, $fw: 400, $fs: 16px, $lh: 1.62, $ls: 0.02em) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin textBody($ff: $open-sans, $fw: 400, $fs: 14px, $lh: 1.86, $ls: 0.02em) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin textButton($ff: $open-sans, $fw: 600, $fs: 12px, $lh: 1.33, $ls: 0.09em) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  text-transform: uppercase;
}
